<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaskManagerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tareas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analytics">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Analíticas
            </NavLink>
        </div>
        
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 mt-4">
                    <span class="nav-link text-white">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> @context.User.Identity?.Name
                    </span>
                </div>
                <div class="nav-item px-3">
                    <form action="/api/logout" method="post">
                        <button type="submit" class="nav-link btn btn-link w-100 text-start text-danger">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Salir
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3 mt-4">
                    <NavLink class="nav-link text-success" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Iniciar Sesión
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

